<mat-sidenav-container>
  <button mat-button (click)="sideBar.toggle()" class="d-block ml-auto">
    <i class="material-icons">menu</i>
  </button>
  <mat-sidenav class="sideBar" fixedInViewport position="start" #sideBar>
    <div class="grid-space">
      <h3 class="space20">LOGO</h3>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let nav of navlinks" routerLink="/{{nav.path}}" (click)="selectlink(nav.value)" routerLinkActive="active-link">{{nav.name}}</a>
   </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
