<section class="topSpace" id="main" style="    padding: 10px;">
  <div fxLayout="column" class="contentBlock">
    <div fxFlex="100" class="grid-space">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <a href="#" routerLink="/settings" class="prev_arrow mr-30"><img src="assets/img/arrow.png" ></a>
          <p class="mb-0">Title</p>
        </div>
 
      </div>
      <h3 class="main_title">About</h3>
      <h4>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since t
      </h4>
      <div class="contentText">
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English.
        </p>
        
      </div> 
      <div id="shadow" class="bottom_shadow"></div>
    </div>
  </div>
</section>
