<section class="create_account topSpace" id="main">
  <div fxLayout="column" class="contentBlock">
    <div fxFlex="100" class="grid-space">
      <a href="#" class="prev_arrow" routerLink="/start-page"><img src="assets/img/arrow.png" ></a>
      <h2 class="headOne">Create new<br> account</h2>
      <form class="example-form" (ngSubmit)="SaveUser()">
          <!-- <form class="example-form"> -->
        <mat-form-field floatLabel="never">          
          <input matInput placeholder="Username" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field floatLabel="never">          
          <input matInput placeholder="Email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field floatLabel="never">
          <input matInput placeholder="Password" name="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-form-field floatLabel="never">
          <input matInput placeholder="Repeat Password" type="password'" [(ngModel)]="user.reppassword" [ngModelOptions]="{standalone: true}">          
        </mat-form-field>
        <button mat-flat-button class="btncreate_account btn_gradient">Signup now</button>
        <!-- <button mat-flat-button class="btncreate_account btn_gradient" routerLink="/verify-account">Signup now</button> -->
      </form>
      <app-app-register></app-app-register>
    </div>
  </div>
</section>