@import '../create-account/form-stylesheet.css';

.imageUpload{
    height: 200px;
    background: #9025fc;
    display: block;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top:-10px;
    box-shadow: 0 5px 16px #dedede;
}
.imageUpload span{
    color: #fff;
    position: absolute;
}
@media(max-width:360px){
    .btncreate_account{
        max-width: 230px;
    }
}
/* .imageUpload img{
    z-index: 1;
} */
#imageupload{
    position: absolute;
    visibility: hidden;
}
form{
    margin-top: 20px;
}
.margin{
    margin-top: 15px
}
:host ::ng-deep .mat-form-field-suffix{
    position: relative;
    top: 3px;
    right: 10px;
}
@media(max-width:360px){
    .btncreate_account{
        max-width: 230px;
    }
}
.btncreate_account{
    margin: 35px 0;
    color: #fff;    
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px !important;
    padding: 15px 15px !important;
    line-height: normal !important;
    width: 100%;
    /* max-width: 315px; */
    margin-left: auto !important;
    margin-right: auto !important;    
    display: block !important;
    box-shadow: 0 1px 15px 1px rgba(191, 191, 191, 0.6)!important;
} 
.topSpace{
    padding-top: 10px;
}
.mx-auto,.contentBlock{
    margin-right:auto!important;
    margin-left:auto!important;
}
.contentBlock{
    max-width: 576px;
}
.grid-space{
    padding-left: 15px;
    padding-right: 15px;
}
.prev_arrow{
    display: flex;
}
 .mb-0{
    margin-left: 20px;
    margin-top: -18px;
} 

.header-md:after {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 0%;
    height: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    content: "";
}

.toolbar-title {
    font-weight: 400;
    font-size: 15px;
}

:host ::ng-deep  .select-text{
    margin-left: -16px;
}
.mr-30{
    margin-right: 32px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
:host ::ng-deep .button-solid{
    background : linear-gradient(141deg, #9025fc 0%, #9025fc 20%, #1308fe 75%);
}
.btn_gradient{
    background : linear-gradient(141deg, #9025fc 0%, #9025fc 20%, #1308fe 75%);
    background: -webkit-linear-gradient(141deg, #9025fc 0%, #9025fc 20%, #1308fe 75%);
    background: -moz-linear-gradient(141deg, #9025fc 0%, #9025fc 20%, #1308fe 75%);
    background: -o-linear-gradient(141deg, #9025fc 0%, #9025fc 20%, #1308fe 75%);
    /* background-image: -webkit-linear-gradient(141deg, #9025fc 0%, #9025fc 20%, #1308fe 75%); */   
}

:host ::ng-deep .mat-drawer-container[_ngcontent-c1] {
    background-color: transparent;
}

:host ::ng-deep .mat-button[_ngcontent-c1] {
    background: transparent;
}

.image-container {
    min-height: 200px;
    background-size: cover;
  }
   
  @media (min-width: 0px) {
    .images {
      column-count: 2;
    }
  }
   
  @media (min-width: 420px) {
    .images {
      column-count: 3;
    }
  }
   
  @media (min-width: 720px) {
    .images {
      column-count: 4;
    }
  }
   
  .one-image {
    margin: 2px;
  }
  #main{
    min-height: 100vh;
    overflow: auto;
    position: relative;
}
