<!-- <ion-content class="has-header"> -->
    <section class="Login_section topSpace" id="main">
        <div fxLayout="column" class="contentBlock">
          <div fxFlex="100" class="grid-space">
            <a href="#" routerLink="/login" class="prev_arrow"><img src="assets/img/arrow.png" ></a>
            <h2 class="headOne">Forgot Password</h2>      
          </div>
        </div>
        <div class="gradientBack"></div>
        <div fxLayout="column" class="contentBlock">
          <div fxFlex="100" class="grid-space">    
            <div class="blockShadow">
              <form class="example-form">
                <!-- <mat-form-field floatLabel="never" >           -->
                  <input style="border: none;" placeholder="Email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
                <!-- </mat-form-field> -->
                        
              </form>
            </div>
            <button mat-flat-button class="btncreate_account btn_gradient" (click)="forgotpassword()">Send</button>
          
            <div class="space30"></div>
          </div>
        </div>
      </section>
      <!-- </ion-content> -->