<section class="welcome" id="main">
    <div fxLayout="column">
      <div fxFlex="100" class="grid-space">        
        <div class="load">
          <img src="assets/img/welcome.png" class="img-fluid mx-auto d-block" >
        </div>
        <h2 class="headOne text-center">Welcome to XYZ</h2>
        <p class="text-center default_clr">Please complete your profile.</p>
        <button mat-flat-button class="btncreate_account btn_gradient" routerLink="/login">Next</button>        
      </div>
    </div>
  </section>
